ProjetoStock/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_produto" type="xs:int" />
      <xs:element minOccurs="0" name="Fornecedor" nillable="true" type="tns:Fornecedor" />
      <xs:element minOccurs="0" name="Nome_prod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qtd_prod" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="Fornecedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fornecedor" nillable="true" type="tns:Fornecedor" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
  <xs:complexType name="Movimentacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_mov" type="xs:int" />
      <xs:element minOccurs="0" name="Data_mov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qtd_mov" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movimentacao" nillable="true" type="tns:Movimentacao" />
  <xs:complexType name="ArrayOfMovimentacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movimentacao" nillable="true" type="tns:Movimentacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovimentacao" nillable="true" type="tns:ArrayOfMovimentacao" />
  <xs:complexType name="ProdutoMovimentacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Movimentacao" nillable="true" type="tns:Movimentacao" />
      <xs:element minOccurs="0" name="Produto" nillable="true" type="tns:Produto" />
      <xs:element minOccurs="0" name="Qtd_movi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoMovimentacao" nillable="true" type="tns:ProdutoMovimentacao" />
  <xs:complexType name="ArrayOfProdutoMovimentacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoMovimentacao" nillable="true" type="tns:ProdutoMovimentacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoMovimentacao" nillable="true" type="tns:ArrayOfProdutoMovimentacao" />
  <xs:complexType name="Gerente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Pessoa">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Senha_g" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gerente" nillable="true" type="tns:Gerente" />
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
  <xs:complexType name="ArrayOfGerente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gerente" nillable="true" type="tns:Gerente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGerente" nillable="true" type="tns:ArrayOfGerente" />
</xs:schema>