ProjetoStock/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54452/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" />
  <xs:element name="inserirProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bprod" nillable="true" type="q1:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bprod" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bprod" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bprod" nillable="true" type="q4:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="listarProdutoResult" nillable="true" type="q5:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirMovimentacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bmov" nillable="true" type="q6:Movimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirMovimentacaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarMovimentacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bmov" nillable="true" type="q7:Movimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarMovimentacaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletarMovimentacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bmov" nillable="true" type="q8:Movimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletarMovimentacaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMovimentacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bmov" nillable="true" type="q9:Movimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMovimentacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="listarMovimentacaoResult" nillable="true" type="q10:ArrayOfMovimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMax">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMaxResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirProd_Mov">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="prod_mov" nillable="true" type="q11:ProdutoMovimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirProd_MovResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarProd_Mov">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="prod_mov" nillable="true" type="q12:ProdutoMovimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarProd_MovResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletarProd_Mov">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="prod_mov" nillable="true" type="q13:ProdutoMovimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletarProd_MovResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProd_Mov">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="prod_mov" nillable="true" type="q14:ProdutoMovimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProd_MovResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="listarProd_MovResult" nillable="true" type="q15:ArrayOfProdutoMovimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirGerente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bgeren" nillable="true" type="q16:Gerente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirGerenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarGerente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bgeren" nillable="true" type="q17:Gerente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarGerenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletarGerente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bgeren" nillable="true" type="q18:Gerente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletarGerenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarGerente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="bgeren" nillable="true" type="q19:Gerente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarGerenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca.modelo.basicas" minOccurs="0" name="listarGerenteResult" nillable="true" type="q20:ArrayOfGerente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>